<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:userlist' %}">
        <i class="far fa-users"></i>
        <span>Users</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:profile_list' %}">
        <i class="fas fa-users-cog"></i>
        <span>Profile</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:category_view' %}">
        <i class="far fa-arrows"></i>
        <span>Manage Category</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:subcategory_view' %}">
        <i class="fas fa-align-justify"></i>
        <span>Manage Sub-Category</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:category_request' %}">
        <i class="far fa-newspaper"></i>
        <span>Category Request</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:subcategory_request' %}">
        <i class="far fa-newspaper"></i>
        <span>Sub category Request</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:news_list' %}">
        <i class="far fa-newspaper"></i>
        <span>News Management</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:user_verify_list' %}">
        <i class="far fa-user"></i>
        <span>User Verify List</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:comment_list' %}">
        <i class="far fa-comment"></i>
        <span>Comments</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:subscriber_list' %}">
        <i class="far fa-users"></i>
        <span>Subscriber</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:editor_list' %}">
        <i class="far fa-users"></i>
        <span>Editor List</span>
    </a>
</li>
