{% extends 'App_User/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="container py-5">
      <div class="col-lg-8 m-0 m-auto">
          <h2 class="border-bottom py-2">Change Password</h2><br>
           {%for message in messages %}
                    {%if "pass_change" in message.tags %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <i class="fa fa-check-circle text-light"></i> {{ message }}
                  </div>
                    {% endif %}
                 {% endfor %}
          <form class="g-3" method="post">
              {% csrf_token %}
                 {{ form| crispy }}

                <button type="submit" class="btn btn-primary mx-0"><i class="fa fa-key"></i> Change Password</button>

          </form>

      </div>
  </div>

{% endblock %}
