{% extends 'App_Blood/base.html' %}
{% load static %}
{% block content %}
<div class="main-wrapper">
            <section class="inner-hero bg_img overlay--one" style="background-image: url('{% static 'assets/images/frontend/breadcrumb/61023f89990b81627537289.jpg' %}');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="page-title text-white">About</h2>
                <ul class="page-breadcrumb justify-content-center">
                    <li><a href="https://script.viserlab.com/bloodlab">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </div>
</section>
                        <section class="pt-100 pb-100 shade--bg">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="about-thumb">
                    <a class="play-btn" href="" data-rel=""><i class="las la-play"></i></a>
                    <img src="{% static 'assets/images/frontend/about/60fff7dc7c1141627387868.jpg' %}" alt="image" class="w-100 h-100">
                </div>
            </div>

            <div class="col-lg-6 ps-lg-5">
                <div class="section-header mb-5 text-sm-start text-center">
                    <h2 class="section-title">Why BloodLab</h2>
                    <p>Omnis harum qui vel repudiandae officiis nemo perferendis libero soluta consequuntur culpa, laborum facere, fugiat totam ratione.</p>
                </div>
                <div class="row gy-4">
                                            <div class="col-lg-12">
                            <div class="about-item">
                                <div class="about-item__icon">
                                    <i class="las la-shield-alt"></i>                                </div>
                                <div class="about-item__content">
                                    <h4 class="about-item__title">All Data is Secured</h4>
                                    <p>Aamet consectetur adipisicing elit. Est voluptatibus accusamus nam labore, quam a quo. Quibusdam est voluptatibus animi quia.</p>
                                </div>
                            </div>
                        </div>
                                            <div class="col-lg-12">
                            <div class="about-item">
                                <div class="about-item__icon">
                                    <i class="las la-compass"></i>                                </div>
                                <div class="about-item__content">
                                    <h4 class="about-item__title">Always Free</h4>
                                    <p>Aamet consectetur adipisicing elit. Est voluptatibus accusamus nam labore, quam a quo. Quibusdam est voluptatibus animi quia.</p>
                                </div>
                            </div>
                        </div>
                                            <div class="col-lg-12">
                            <div class="about-item">
                                <div class="about-item__icon">
                                    <i class="las la-magic"></i>                                </div>
                                <div class="about-item__content">
                                    <h4 class="about-item__title">100% Automated</h4>
                                    <p>Aamet consectetur adipisicing elit. Est voluptatibus accusamus nam labore, quam a quo. Quibusdam est voluptatibus animi quia</p>
                                </div>
                            </div>
                        </div>
                                    </div>
            </div>
        </div>
    </div>
</section>
                    <section class="pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-8 col-lg-10">
                <div class="section-header text-center">
                    <h2 class="section-title">Latest News</h2>
                    <p class="mt-2">Hic tenetur nihil ex. Doloremque ipsa velit, ea molestias expedita sed voluptatem ex voluptatibus temporibus sequi. sddd</p>
                </div>
            </div>
        </div>

        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-4 col-md-6">
                    <div class="blog-post">
                        <div class="blog-post__thumb">
                            <a href="" class="d-block">
                                <img src="{% static 'assets/images/frontend/blog/610243c8052141627538376.jpg' %}" alt="image1"></a>
                        </div>
                        <div class="blog-post__content">
                            <ul class="blog-post__meta">
                                <li>27 Oct 2020</li>
                            </ul>
                            <h5 class="blog-post__title mt-3"><a href="">Cumque fugit eligendi quisquam placeat quas voluptate. Quos</a></h5>
                        </div>
                    </div>
                </div>
                            <div class="col-lg-4 col-md-6">
                    <div class="blog-post">
                        <div class="blog-post__thumb">
                            <a href="" class="d-block">
                                <img src="{% static 'assets/images/frontend/blog/610243febdbf81627538430.jpg' %}" alt="image1"></a>
                        </div>
                        <div class="blog-post__content">
                            <ul class="blog-post__meta">
                                <li>30 Oct 2020</li>
                            </ul>
                            <h5 class="blog-post__title mt-3">
                                <a href="">Doloribus cumque fugit eligendi quisquam placeat quas voluptate. Quos</a>
                            </h5>
                        </div>
                    </div>
                </div>
                            <div class="col-lg-4 col-md-6">
                    <div class="blog-post">
                        <div class="blog-post__thumb">
                            <a href="" class="d-block">
                                <img src="{% static 'assets/images/frontend/blog/610245326e5161627538738.jpg' %}" alt="image1"></a>
                        </div>
                        <div class="blog-post__content">
                            <ul class="blog-post__meta">
                                <li>29 Jul 2021</li>
                            </ul>
                            <h5 class="blog-post__title mt-3">
                                <a href="">Doloribus cumque fugit eligendi quisquam placeat quas voluptate. Quo</a></h5>
                        </div>
                    </div>
                </div>
                    </div>
    </div>
</section>
                    </div>
{% endblock %}