<section class="pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section-title">Frequently Asked Questions</h2>
                    <p class="mt-3">Dolor sit amet consectetur adipisicing elit. Ad voluptatum fuga eius expedita, nulla quos blanditiis nobis laboriosam. Natus cum eum fuga praesentium.</p>
                </div>
            </div>
        </div><!-- row end -->
        <div class="accordion custom--accordion" id="faqAccordion">
            <div class="row">
                    <div class="col-lg-6 mb-4">
                                                                            <div class="accordion-item">
                                <h2 class="accordion-header" id="h-1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-1" aria-expanded="false" aria-controls="c-1">
                                        Eligendi in enim quisquam dolor voluptates nihil.
                                    </button>
                                </h2>
                                <div id="c-1" class="accordion-collapse collapse" aria-labelledby="h-1" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p>sit amet consectetur adipisicing elit. Doloremque perspiciatis harum voluptatibus natus alias nesciunt eius similique tenetur corporis fuga eligendi in enim quisquam dolor voluptates nihil obcaecati pariatur commodi facilis, officiis nobis porro eum architecto! Delectus ut voluptatibus voluptatem, aliquam tenetur et facilis, quia veritatis temporibus, ex magni soluta.</p>
                                    </div>
                                </div>
                            </div>
                                                                                                                                                    <div class="accordion-item">
                                <h2 class="accordion-header" id="h-3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-3" aria-expanded="false" aria-controls="c-3">
                                        Eligendi in enim quisquam dolor voluptates nihil.
                                    </button>
                                </h2>
                                <div id="c-3" class="accordion-collapse collapse" aria-labelledby="h-3" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p>sit amet consectetur adipisicing elit. Doloremque perspiciatis harum voluptatibus natus alias nesciunt eius similique tenetur corporis fuga eligendi in enim quisquam dolor voluptates nihil obcaecati pariatur commodi facilis, officiis nobis porro eum architecto! Delectus ut voluptatibus voluptatem, aliquam tenetur et facilis, quia veritatis temporibus, ex magni soluta.</p>
                                    </div>
                                </div>
                            </div>
                                                                                                                                                    <div class="accordion-item">
                                <h2 class="accordion-header" id="h-5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-5" aria-expanded="false" aria-controls="c-5">
                                        Eligendi in enim quisquam dolor voluptates nihil.
                                    </button>
                                </h2>
                                <div id="c-5" class="accordion-collapse collapse" aria-labelledby="h-5" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p>olor sit amet consectetur adipisicing elit. Doloremque perspiciatis harum voluptatibus natus alias nesciunt eius similique tenetur corporis fuga eligendi in enim quisquam dolor voluptates nihil obcaecati pariatur commodi facilis, officiis nobis porro eum architecto! Delectus ut voluptatibus voluptatem, aliquam tenetur et facilis, quia veritatis temporibus, ex magni soluta.</p>
                                    </div>
                                </div>
                            </div>
                                                                                                                    </div>

                     <div class="col-lg-6 mb-4">
                                                                                                                            <div class="accordion-item">
                                <h2 class="accordion-header" id="h-2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-2" aria-expanded="false" aria-controls="c-2">
                                        Doloremque perspiciatis harum voluptatibus natus.
                                    </button>
                                </h2>
                                <div id="c-2" class="accordion-collapse collapse" aria-labelledby="h-2" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p>ipsum dolor sit amet consectetur adipisicing elit. Doloremque perspiciatis harum voluptatibus natus alias nesciunt eius similique tenetur corporis fuga eligendi in enim quisquam dolor voluptates nihil obcaecati pariatur commodi facilis, officiis nobis porro eum architecto! Delectus ut voluptatibus voluptatem, aliquam tenetur et facilis, quia veritatis temporibus, ex magni soluta</p>
                                    </div>
                                </div>
                            </div>
                                                                                                                                                    <div class="accordion-item">
                                <h2 class="accordion-header" id="h-4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-4" aria-expanded="false" aria-controls="c-4">
                                        Eligendi in enim quisquam dolor voluptates nihil.
                                    </button>
                                </h2>
                                <div id="c-4" class="accordion-collapse collapse" aria-labelledby="h-4" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p>dolor sit amet consectetur adipisicing elit. Doloremque perspiciatis harum voluptatibus natus alias nesciunt eius similique tenetur corporis fuga eligendi in enim quisquam dolor voluptates nihil obcaecati pariatur commodi facilis, officiis nobis porro eum architecto! Delectus ut voluptatibus voluptatem, aliquam tenetur et facilis, quia veritatis temporibus, ex magni soluta</p>
                                    </div>
                                </div>
                            </div>
                                                                                                                                                    <div class="accordion-item">
                                <h2 class="accordion-header" id="h-6">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-6" aria-expanded="false" aria-controls="c-6">
                                        Eligendi in enim quisquam dolor voluptates nihil.
                                    </button>
                                </h2>
                                <div id="c-6" class="accordion-collapse collapse" aria-labelledby="h-6" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p>dolor sit amet consectetur adipisicing elit. Ad voluptatum fuga eius expedita, nulla quos blanditiis nobis laboriosam. Natus cum eum fuga</p>
                                    </div>
                                </div>
                            </div>
                                                                    </div>
            </div>
        </div>
    </div>
</section>